:root {
    --primary-color: ##845EC2;
    --secondary-color: ##296073;
    --tertiary-color: ##3596B5;
    --background-color: ##DCB0FF;
    --accent-color: ##ADC5CF;
    --highlight-color: #d4f7e5;
    --text-color: ##4E2E8C;
    --dark-color: #1f3137;
  }
  